body {
  font-family: sans-serif;
}

.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}
