#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
}
